{% extends 'layout.html' %}
{% block title %}Welcome to Capri Tracks{% endblock %}

{% block content %}
<div class="w-11/12 md:w-5/6 mx-auto pt-32 pb-16">
   <form method="post" class="w-[400px] md:w-[450px] mx-auto text-sm md:text-base">
      {% csrf_token %}
      <h1 class="mb-4 font-semibold text-2xl md:text-3xl text-center">CREATE ACCOUNT</h1>
      <div class="mb-4">
         <label for="{{ form.username.id_for_label }}">Username: </label>
         <input type="text" id="{{ form.username.id_for_label }}" required autofocus name="{{ form.username.name }}" maxlength="150" class="w-full bg-transparent border border-slate-500 rounded-sm mt-1 p-2 text-[13px] md:text-sm outline-none" value="{% if form.username.value is not None %}{{ form.username.value }}{% endif %}">
         <small class="text-red-400">{{ form.username.errors }}</small>
      </div>
      <div class="mb-4">
         <label for="{{ form.email.id_for_label }}">Email: </label>
         <input type="text" id="{{ form.email.id_for_label }}" required name="{{ form.email.name }}" maxlength="254" class="w-full bg-transparent border border-slate-500 rounded-sm mt-1 p-2 text-[13px] md:text-sm outline-none" value="{% if form.email.value is not None %}{{ form.email.value }}{% endif %}">
         <small class="text-red-400">{{ form.email.errors }}</small>
      </div>
      <div class="mb-4">
         <label for="{{ form.password1.id_for_label }}">Password: </label>
         <input type="password" id="{{ form.password1.id_for_label }}" required name="{{ form.password1.name }}" class="w-full bg-transparent border border-slate-500 rounded-sm mt-1 p-2 text-[13px] md:text-sm outline-none">
         <small class="text-red-400">{{ form.password1.errors }}</small>
      </div>
      <div class="mb-4">
         <label for="{{ form.password2.id_for_label }}">Password Confirmation: </label>
         <input type="password" id="{{ form.password2.id_for_label }}" required name="{{ form.password2.name }}" class="w-full bg-transparent border border-slate-500 rounded-sm mt-1 p-2 text-[13px] md:text-sm outline-none">
         <small class="text-red-400">{{ form.password2.errors }}</small>
      </div>
      <div class="flex justify-end">
         <button class="inline-block border border-slate-500 rounded-sm mt-2 px-10 py-2 font-semibold text-sm text-slate-500 transition-all hover:bg-slate-800 hover:text-white hover:scale-105 hover:shadow-2xl hover:shadow-[#161E3B]">Create Account</button>
      </div>
   </form>
</div>
{% endblock %}